a {
  color: #1877f2;
  font-size: 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin: -44px 0 -4px 0;
  width: 240px;
}

.activeClass {
  border-bottom: 3px solid #1877f2 !important;
}

.activeClass a button svg {
  fill: #1877f2;
}

.activeClass a button:hover {
  background-image: none;
}

@media only screen and (max-width: 415px) {
  .rc-tabs {
    flex-direction: column !important;
  }
  .rc-tabs-nav-list {
    margin-bottom: 10px;
  }
  .rc-tabs-content-holder {
    width: auto !important;
  }
  .rc-tabs-tabpane input {
    width: 16.5rem;
  }
}

.rc-tabs {
  border: none !important;
  display: flex;
  flex-direction: row;
}
.rc-tabs-tab {
  padding: 5px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
}
.rc-tabs-tab.rc-tabs-tab-active {
  background: linear-gradient(rgba(0, 0, 0, 0.18) 0 0);
  border-radius: 6px;
  width: 75px;
  margin-right: 10px;
  /* color: #00a6f8; */
}
.rc-tabs-ink-bar {
  background: #59c7fd !important;
}
.rc-tabs-content-holder {
  padding: 10px;
  background: #f0f2f5;
  width: 325px;
  height: auto;
  border-radius: 6px;
}
.rc-tabs-content {
}

.rc-tabs-nav-operations,
.rc-tabs-nav-operations-hidden {
  display: none !important;
}
