a {
  color: #1877f2;
  font-size: 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin: -44px 0 -4px 0;
  width: 240px;
}

.fb,
.fb-12 {
  color: #777;
  line-height: 1.34;
}

.fb {
  font-size: 11px;
}

.fb-12 {
  font-size: 12px;
}

.activeClass {
  border-bottom: 3px solid #1877f2 !important;
}

.activeClass a button svg {
  fill: #1877f2;
}

.activeClass a button:hover {
  background-image: none;
}
